#--------------------------------------------------#
# The following was generated with gitignore.nvim: #
#--------------------------------------------------#
# Gitignore for the following technologies: CUDA

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin

